/* Mapa General */

#mapaGeneral {
    display: grid;
    /*grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr;
    grid-column-gap: 0px;
    grid-row-gap: 0px;*/
    grid-template-columns: auto auto;
}

#map {
    /* grid-area: 1 / 1 / 2 / 2; */
    border: solid .2em #D0D4D8;
    height: 70em;
    width: 55em;
}

#info {
    /* grid-area: 1 / 2 / 2 / 3; */
    background-color: #F9F9F9;
    border: solid #D0D4D8;
    width: 50em;
}

#infoElements {
    margin: 0 20px;
}

#infoElements<h3 {
    margin-top: 20px;
}

div#listadoAves {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    grid-gap: 5px;
    margin-bottom: 20px;
}

div#listadoZonas {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 5px;
    margin-bottom: 20px;
}

#contenedorBotones {
    margin: 20px 0 20px 0;
}

#contenedorBotones input[type=radio] {
  display: none;
}

#contenedorBotones label {
    background-color: #F9F9F9;
    padding: 10px;
    border-radius: 5px;
    border: solid 2px #D5D8DC;
    margin: 0 5px 0 0;
}

#contenedorBotones label:hover {
    cursor: pointer;
    background-color: #90BDFA;
    border-color: #90BDFA;
    color: #F9F9F9;
}

#contenedorBotones input[type=radio]:checked + label {
    background-color: #388BFC;
    padding: 10px;
    border-radius: 5px;
    color: #F9F9F9;
    border-color: #388BFC;
}

/* Mapa lateral */

div#listadoZonasLateral {
    display: grid;
    grid-gap: 5px;
}

div#listadoZonasLateral>label {
    font-weight: initial;
}

p {
    font-weight: normal;
}

/* Avistamientos en el mapa */
div#listadoAvistamientos {
    margin-bottom: 20px;
}

.avistamiento {
    display: flex;
}

.avistamientoTitulo {
    font-weight: initial;
}

.avistamientoItem {
    position: relative;
    margin: 0 0.5rem 0 0;
    min-height: 1.2rem;
    width: 2rem;
    display: flex;
}

.rojo {
    background-color: #E33B15;
}

.naranja {
    background-color: #E57701;
}

.amarillo {
    background-color: #FAC500;
}

.verde {
    background-color: #C7E466;
}

.gris {
    background-color: #8F9CA0;
}

/* Estado del agua */
#contenedorBotones input[type=checkbox] {
  display: none;
}

button.estadoAgua {
    background-color: #388BFC;
    padding: 10px;
    color: #F9F9F9;
    border-color: #388BFC;
    border-radius: 5px;
    border: solid 2px #388BFC;
    margin: 0 5px 0 0;
}

button.estadoAgua:hover {
    cursor: pointer;
    background-color: #90BDFA;
    border-color: #90BDFA;
    color: #F9F9F9;
}

#botonesGraficas {
    margin-bottom: 20px;
}

#botonesGraficasLateral {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
    grid-gap: 5px;
    margin-bottom: 20px;

/* Fondo modal: negro con opacidad al 50% */

.modal {
    display: none;
    /* Por defecto, estará oculto */
    position: fixed;
    /* Posición fija */
    z-index: 1000;
    /* Se situará por encima de otros elementos de la página*/
    padding-top: 200px;
    /* El contenido estará situado a 200px de la parte superior */
    left: 0;
    top: 0;
    width: 100%;
    /* Ancho completo */
    height: 100%;
    /* Algura completa */
    overflow: auto;
    /* Se activará el scroll si es necesario */
    background-color: rgba(0, 0, 0, 0.5);
    /* Color negro con opacidad del 50% */
}

.modalContenido {
    position: relative;
    /* Relativo con respecto al contenedor -modal- */
    background-color: white;
    margin: auto;
    /* Centrada */
    padding: 20px;
    width: 60%;
    -webkit-animation-name: animarsuperior;
    -webkit-animation-duration: 0.5s;
    animation-name: animarsuperior;
    animation-duration: 0.5s
}


/* Add Animation */

@-webkit-keyframes animatetop {
    from {
        top: -300px;
        opacity: 0
    }
    to {
        top: 0;
        opacity: 1
    }
}

@keyframes animarsuperior {
    from {
        top: -300px;
        opacity: 0
    }
    to {
        top: 0;
        opacity: 1
    }
}

.modalCerrar {
    color: black;
    float: right;
    font-size: 30px;
    font-weight: bold;
    cursor: pointer;
}

.modalCerrar:hover,
.modalCerrar:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

div#graficaContenido {
    display: flex;
    margin: auto;
}
